.sidebar__option{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar__option:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease;
}

.sidebar__option > .css-i4bv87-MuiSvgIcon-root{
    padding: 20px;
}

.sidebar__option--active{
    color: var(--twitter-color)
}

.sidebar__option > h2 {
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}